<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/27afde69-96e7-4b5c-8ede-48c4d9b0f4ce/resourcegroups/citymyhome/providers/Microsoft.Web/sites/MelbourneMH20190406043927</ResourceId>
    <ResourceGroup>citymyhome</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://melbournemh20190406043927.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>melbournemh20190406043927.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MelbourneMH20190406043927</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MelbourneMH20190406043927</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MBMHEntities2" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:citymyhome.database.windows.net,1433;Initial Catalog=MelbourneMH20190406043927_db;User ID=jupiterSouls@citymyhome;Password=Jupyter1234" Name="Data Source=tcp:citymyhome.database.windows.net,1433;Initial Catalog=MelbourneMH20190406043927_db;User Id=jupiterSouls@citymyhome;Password=Jupyter1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MelbourneMH.Models.MBMHEntities2, MelbourneMH" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MelbourneMHContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:citymyhome.database.windows.net,1433;Initial Catalog=MelbourneMH20190406043927_db;User ID=jupiterSouls@citymyhome;Password=Jupyter1234" Name="Data Source=tcp:citymyhome.database.windows.net,1433;Initial Catalog=MelbourneMH20190406043927_db;User Id=jupiterSouls@citymyhome;Password=Jupyter1234" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|MelbourneMHContext-20190330124403.mdf;Initial Catalog=MelbourneMHContext-20190330124403;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MelbourneMHContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=MelbourneMHContext-20190330124403; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|MelbourneMHContext-20190330124403.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MBMHEntities1" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:citymyhome.database.windows.net,1433;Initial Catalog=MelbourneMH20190406043927_db;User ID=jupiterSouls@citymyhome;Password=Jupyter1234" Name="Data Source=tcp:citymyhome.database.windows.net,1433;Initial Catalog=MelbourneMH20190406043927_db;User Id=jupiterSouls@citymyhome;Password=Jupyter1234" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MBMH.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MBMHEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Mbmh.csdl|res://*/Models.Mbmh.ssdl|res://*/Models.Mbmh.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\MBMH.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MBMHEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MBMH.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MBMHEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Mbmh.csdl|res://*/Models.Mbmh.ssdl|res://*/Models.Mbmh.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\MBMH.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Begin" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:citymyhome.database.windows.net,1433;Initial Catalog=MelbourneMH20190406043927_db;User ID=jupiterSouls@citymyhome;Password=Jupyter1234" Name="Data Source=tcp:citymyhome.database.windows.net,1433;Initial Catalog=MelbourneMH20190406043927_db;User Id=jupiterSouls@citymyhome;Password=Jupyter1234" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=MelbourneMH.Models.Begin;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Begin_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDb)\MSSQLLocalDB;initial catalog=MelbourneMH.Models.Begin;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MBMHEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="MelbourneMHContext-Web.config Connection String">
      <ParameterValue>data source=tcp:citymyhome.database.windows.net,1433;initial catalog=MelbourneMH20190406043927_db;user id=jupiterSouls@citymyhome;password=Jupyter1234;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MBMHEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Mbmh.csdl|res://*/Models.Mbmh.ssdl|res://*/Models.Mbmh.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:citymyhome.database.windows.net,1433;initial catalog=MelbourneMH20190406043927_db;user id=jupiterSouls@citymyhome;password=Jupyter1234;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Begin-Web.config Connection String">
      <ParameterValue>data source=tcp:citymyhome.database.windows.net,1433;initial catalog=MelbourneMH20190406043927_db;user id=jupiterSouls@citymyhome;password=Jupyter1234;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MBMHEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Mbmh.csdl|res://*/Models.Mbmh.ssdl|res://*/Models.Mbmh.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:citymyhome.database.windows.net,1433;Initial Catalog=MelbourneMH20190406043927_db;User Id=jupiterSouls@citymyhome;Password=Jupyter1234"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>