@{
    ViewBag.Title = "Aboutus";
    Layout = null;
}

<html>
<head>



    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link href="~/Content/navbar.css" rel="stylesheet" />
    <link href="https://www.w3schools.com/lib/w3.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/s3.css" rel="stylesheet" />
    <link href="~/Content/card.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Content/photo.css" rel="stylesheet" />
    <link href="~/Content/slider.css" rel="stylesheet" />
    <link href="~/Content/words.css" rel="stylesheet" />
    <link href="~/Content/load.css" rel="stylesheet" />
    <link href="~/Content/dog.css" rel="stylesheet" />
    <script src="https://www.w3schools.com/appml/2.0.3/appml.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

</head>
<body>

    <div class="load" style="margin-left:-30%;margin-top:-17%;"><hr /><hr /><hr /><hr /></div>
    <button data-word='Melbourne, my home' class="button" style="width:50%;margin-top:3%"></button>
    <nav id="nav-3">
        <a class="link-3" href="~/Home/Home">Home</a>
        <a class="link-3" href="~/Home/Introduction">Introduction</a>
        <a class="link-3" href="~/Home/DataSelection">Data</a>
        <a class="link-3" href="~/Home/Adult">For Parents and Teachers</a>
        <a class="link-3" href="~/Home/Aboutus">About us</a>
        <a class="link-3" href="~/Home/Contact">Contact us</a>
    </nav>
    <section id="screen1" style="height:120%;border:4px solid black">

        <h3 style="font-family: 'Courgette', cursive;font-size:36px;text-align:center">About us</h3>
        <h6 style="color:white;font-size:24px;margin-left:10%;margin-right:10%;margin-top:40px;">
            We are a group of committed individuals, who want to create awareness in the younger citizens of our beautiful city Melbourne and help them in knowing their city better. Our mission is to aim and educate children, through interactive and child-friendly graphs. We want to send the message across in a way that it is suitable and well received by our audience, which is children. We are creating graphs which are only based on data obtained from open source government sources and spreading the message to our younger populace. We are very passionate about this cause, and take this website as an initiative to reach out to every single child living in Melbourne and make them a more involved citizen. We believe that this cause is mutually beneficial to both parents, teachers as well as our society as a whole. We look forward to presenting these engaging rich features and graphs, games and quizzes on our website. We really hope that you are going to enjoy this experience, help us in spreading the word and make our city the most beautiful and involved city ever existed on planet earth.
        </h6>
    </section>
    


    <script src="~/Scripts/card.js"></script>
    <script src="~/Scripts/s3.js"></script>
    <script src="~/Scripts/photo.js"></script>
    <script src="~/Scripts/navbar.js"></script>
</body>

</html>
