@{
    ViewBag.Title = "Parents&Teacher";
    Layout = null;
}

<html>
<head>



    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link href="~/Content/navbar.css" rel="stylesheet" />
    <link href="https://www.w3schools.com/lib/w3.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/s3.css" rel="stylesheet" />
    <link href="~/Content/card.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Content/photo.css" rel="stylesheet" />
    <link href="~/Content/slider.css" rel="stylesheet" />
    <link href="~/Content/words.css" rel="stylesheet" />
    <link href="~/Content/load.css" rel="stylesheet" />
    <link href="~/Content/dog.css" rel="stylesheet" />
    <script src="https://www.w3schools.com/appml/2.0.3/appml.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

</head>
<body>

    <div class="load" style="margin-left:-30%;margin-top:-17%;"><hr /><hr /><hr /><hr /></div>
    <button data-word='Melbourne, my home' class="button" style="width:50%;margin-top:3%"></button>
    <nav id="nav-3">
        <a class="link-3" href="~/Home/Home">Home</a>
        <a class="link-3" href="~/Home/Introduction">Introduction</a>
        <a class="link-3" href="~/Home/DataSelection">Data</a>
        <a class="link-3" href="~/Home/Adult">For Parents and Teachers</a>
        <a class="link-3" href="~/Home/Aboutus">About us</a>
        <a class="link-3" href="~/Home/Contact">Contact us</a>
    </nav>
    <section id="screen1" style="height:120%;border:4px solid black">

        <h3  style="font-family: 'Courgette', cursive;font-size:36px;text-align:center">Our Story</h3>
        <h3 style="color:white;font-size:24px;margin-left:25%;margin-right:25%;margin-top:40px;">
            Melbourne My Home website tells the story of how Melbourne has changed over the years
            in population, culture, transportation, wildlife and environment. Targeting six to nine years
            old children who living in Melbourne, the site is full of charts, games and activities that
            engages learning and exploring. On the website, children, parents and teachers can explore
            the changes and situation in the Melbourne, learn more about the city they are living.
            We aim to engage and education children about their city so that they can develop a sense
            of belonging to the community and become a productive member of society.
        </h3>
    </section>
    <section id="screen3" style="height:120%;margin-top:-10px;border-style: solid ;border-width: 4px 4px 0 4px;border-color:black" >
        <h3 style="font-family: 'Courgette', cursive;font-size:36px;text-align:center">Learning and playing</h3>
        <h3 style="color:white;font-size:24px;margin-left:25%;margin-right:25%;margin-top:40px;">
            What can your child get from us?
            First of all, the understanding of the city is indispensable in the process of child development.
            It can help them form their own worldview and unique ideas
            We provide a rich collection of datasets about the city and present it in the form of visualizations,
            and these easy-to-understand charts can help your child learn and remember these information.
            Besides, we also provide interesting games for interaction, so that children can have fun while learning.
            We believe that your children will be able to get a lot from us and grow up happily.
        </h3>
    </section>
        <section id="screen2" style="height:50%;border-width: 10px 0 10px 0;border-style:double;border-color: navajowhite;">
            <br /><br />
                  <p class="w3-center" style="font-family: 'Courgette', cursive;font-size:36px">Learning for Kids</p>
            <br /><br /><br />
            <nav id="nav-4" style="width:80%;margin-left:10%">
                <a class="link-4" href="~/Age_Distribution/Age_Distribution">Age Distribution</a>
                <a class="link-4" href="~/Suburb_Population/Suburb_Population">Most and Least Populous Suburbs</a>
                <a class="link-4" href="~/Melbourne_Population/Melbourne_Population">Changing Population of Melbourne</a>

            </nav>
        </section>


        <script src="~/Scripts/card.js"></script>
        <script src="~/Scripts/s3.js"></script>
        <script src="~/Scripts/photo.js"></script>
        <script src="~/Scripts/navbar.js"></script>
</body>

</html>
