@{
    ViewBag.Title = "Contact";
    Layout = null;
}

<html>
<head>



    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link href="~/Content/navbar.css" rel="stylesheet" />
    <link href="https://www.w3schools.com/lib/w3.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/s3.css" rel="stylesheet" />
    <link href="~/Content/card.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Content/photo.css" rel="stylesheet" />
    <link href="~/Content/slider.css" rel="stylesheet" />
    <link href="~/Content/words.css" rel="stylesheet" />
    <link href="~/Content/load.css" rel="stylesheet" />
    <link href="~/Content/dog.css" rel="stylesheet" />
    <script src="https://www.w3schools.com/appml/2.0.3/appml.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

</head>
<body>

    <div class="load" style="margin-left:-30%;margin-top:-17%;"><hr /><hr /><hr /><hr /></div>
    <button data-word='Melbourne, my home' class="button" style="width:50%;margin-top:3%"></button>
    <nav id="nav-3">
        <a class="link-3" href="~/Home/Home">Home</a>
        <a class="link-3" href="~/Home/Introduction">Introduction</a>
        <a class="link-3" href="~/Home/DataSelection">Data</a>
        <a class="link-3" href="~/Home/Adult">For Parents and Teachers</a>
        <a class="link-3" href="~/Home/Aboutus">About us</a>
        <a class="link-3" href="~/Home/Contact">Contact us</a>
    </nav>
    <section id="screen2" style="height:75%;border:4px solid black">

        <h3 style="font-family: 'Courgette', cursive;font-size:36px;text-align:center">Contact us</h3>
        <h3 style="color:white;font-size:24px;margin-left:25%;margin-right:25%;margin-top:40px;">
            Want to contact us?<br />
            We are JupiterSouls,<br />
            Our email is <u>citymyhome@gmail.com</u><br />
            We look forward to hearing from you.<br />
        </h3>
    </section>
   


    <script src="~/Scripts/card.js"></script>
    <script src="~/Scripts/s3.js"></script>
    <script src="~/Scripts/photo.js"></script>
    <script src="~/Scripts/navbar.js"></script>
</body>

</html>
