.chart-row {
    width: 100%;
    min-height: 60px;
    font-size: 0.85em;
    margin-top: 1em;
}

    .chart-row .chart-caption {
        margin: 1em 0 23px;
    }

    .chart-row .bar-wrap {
        background-color: #f2f2f2;
        flex: 1 1 auto;
        max-height: 40px;
        position: relative;
        transition: all 350ms;
    }

    .chart-row .chart-bar {
        height: 40px;
        display: inline-block;
        width: 0;
        -webkit-transform-origin: left center;
        transform-origin: left center;
        transition: width 500ms;
        -webkit-animation: 750ms ease-out 300ms barBounce;
        animation: 750ms ease-out 300ms barBounce;
    }

    .chart-row span {
        display: inline-block;
        position: absolute;
        font-size: 0.85em;
        font-weight: bold;
        top: -1.70em;
    }

    .chart-row:hover .bar-wrap {
        background-color: #ddd;
    }

    .chart-row:nth-child(3n-3) .chart-bar {
        background-color: #0067ac;
    }

    .chart-row:nth-child(3n-2) .chart-bar {
        background-color: #a02842;
    }

    .chart-row:nth-child(3n-1) .chart-bar {
        background-color: #007680;
    }

@media screen and (min-width: 550px) {
    .chart-row {
        display: flex;
        align-items: center;
    }

        .chart-row .chart-caption {
            width: 200px;
            text-align: right;
            margin: 0;
            padding-right: 1em;
        }

        .chart-row span {
            left: 0;
            bottom: -1.25em;
            top: auto;
        }
}

.chart-xaxis {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5em;
    padding-left: 0;
}

    .chart-xaxis li {
        list-style: none;
    }

@media screen and (min-width: 550px) {
    .chart-xaxis {
        padding-left: 200px;
    }
}

@-webkit-keyframes barBounce {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    60% {
        -webkit-transform: scaleX(1.1);
        transform: scaleX(1.1);
    }

    75% {
        -webkit-transform: scaleX(0.9);
        transform: scaleX(0.9);
    }

    90% {
        -webkit-transform: scaleX(1.05);
        transform: scaleX(1.05);
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@keyframes barBounce {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    60% {
        -webkit-transform: scaleX(1.1);
        transform: scaleX(1.1);
    }

    75% {
        -webkit-transform: scaleX(0.9);
        transform: scaleX(0.9);
    }

    90% {
        -webkit-transform: scaleX(1.05);
        transform: scaleX(1.05);
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    color: #333;
}

.bar-chart {
    max-width: 900px;
    margin: 1em;
}
