.link-3 {
    transition: 0.4s;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
}

    .link-3:hover {
        background-color: #ffffff;
        color: #EEA200;
        padding: 24px 10px;
    }
